			  
           net "clk" loc = "B8";
			  net "rst" loc = "N3";
         net "led0" loc = "M5";
			  net "led1" loc = "M11";
			  net "led2" loc = "P7";
			  net "led3" loc = "P6";
			  net "led4" loc = "N5";
			  net "led5" loc = "N4";
			  net "led6" loc = "P4";
			  
			  net "b_input" loc = "G12";
			  
			  
NET "A" LOC = "L14";
NET "B" LOC = "H12";
NET "C" LOC = "N14";
NET "D" LOC = "N11";
NET "E" LOC = "P12";
NET "F" LOC = "L13";
NET "G" LOC = "M12";


Net "Anode3" Loc = "K14";
Net "Anode2" Loc = "M13";
Net "Anode1" Loc = "J12";
Net "Anode0" Loc = "F12";